{cover_enabled, true}.
{erl_opts, [
    smp
%%    %% , {parse_transform, lager_transform}
    , encrypt_debug_info
    , report
    , verbose
    , fail_on_warning
    , warnings_as_errors
    , warn_export_vars
    , warn_obsolete_guard
    , warn_shadow_vars
    , warn_unused_function
    , warn_deprecated_function
    , warn_unused_import
    , warn_unused_record
    , {src_dirs, ["src", "data"]}
    , {outdir, "ebin"}
    , {i, "include"}
    , {i, "include/common"}
    , {i, "include/protobuf"}
    , {i, "include/sys"}
    , {i, "deps/wgbase/include"}
    , {i, "deps/mysql/include"}
    , {d, 'DEBUG'}
]}.
{deps_dir, ["deps"]}.
{erl_first_files, [
    "src/game_sup.erl"
    , "src/bank_sup.erl"
]}.

{deps, [
%%    {wgbase, ".*", {git, "git@139.199.78.134:/home/git/wgbaseR23.git", {branch, "master"}}}
    {mochiweb, ".*", {git, "git@github.com:mochi/mochiweb.git", {branch, "master"}}}
%%    {mochiweb, ".*", {git, "git@139.199.78.134:/home/git/mochiwebR23.git", {branch, "master"}}}
      ,{mysql, ".*", {git, "git@github.com:AgatheChristie/cverlang_mysql_driver.git", {branch, "master"}}}
%%    , {recon, ".*", {git, "git@139.199.78.134:/home/git/reconR23.git", {branch, "master"}}}
]}.