[
  {sasl, [
    	{sasl_error_logger, false},
    	{errlog_type, error},
    	{error_logger_mf_dir, "./logs"},     %% dirs
    	{error_logger_mf_maxbytes, 1048760}, %% 10M per log file.
    	{error_logger_mf_maxfiles, 10}       %% maxinum number of 10
    	]
   },

  {kernel, [
		{inet_dist_listen_min, 30000},
		{inet_dist_listen_max, 31000}
	    ]
  },

  {server, [
  		{tcp_listener_ip,[
						{ip, "192.168.113.170"}
						]},
		{tcp_listener,[
						{port, 7788},
						{node_id, 1},
						{acceptor_num, 100},
						{max_connections, 3000}
						]},
		{mysql_config, 	  [
						{host, "127.0.0.1"},
						{port, 3306},
						{user, "root"},
						{password, "ccwd"},

						%% {host, "127.0.0.1"},
						%% {port, 3306},
						%% {user, "root"},
						%% {password, "root"},

						{db, "aaa"},
						{encode, utf8}
				  		]},
		{emongo_config, [
						{poolId,"master_mongo"},
						{emongoHost, "127.0.0.1"},
						{emongoPort, 27017},
						{emongoDatabase, "cwd"},
						{emongoSize, 1}
						]},
		{log_emongo_config, [
						{poolId,"log_mongo"},
						{emongoHost, "127.0.0.1"},
						{emongoPort, 27017},
						{emongoDatabase, "ccwd"},
						{emongoSize, 1}
						]},
		{slave_emongo_config, [
						{poolId,"slave_mongo"},
						{emongoHost, "127.0.0.1"},
						{emongoPort, 27017},
						{emongoDatabase, "cccw"},
						{emongoSize, 1}
						]},
		{gateway_node, 'ccnice@127.0.0.1'},	%% 网关节点
		{log_level, 6},				%% 日志输出级别类型
		{base_data_from_db, 1},		%% 基本数据实时读数据库？(1：是，使用ets; 0：否，来自生成的静态文件)
		{scene_here, []},			%% 开启加载
		{guest_account_url, "http://www.ccw.com/guest_account.php"},
		{can_gmcmd, 1},				%% GM命令启用否 （1：开启; 0: 关闭）
		{strict_md5, 0},			%% 是否需要严格验证 （1：验证; 0: 不验证）
		{infant_ctrl, 0}			%% 防沉迷系统开关 （1：开启; 0: 关闭）
		]
  }
].  
 
